@{
    Layout = null;
}

<table style="width:100%" class="">
    <tr>
        <th>Objects</th>
        <th>Allow All</th>
        <th>Consult</th>
        <th>New</th>
        <th>Edit</th>
        <th>Delete</th>
        <th>Export</th>
        <th>Print</th>
        <th>Configure</th>
    </tr>
    <tr>
        <td>Country(Screen)</td>
        <td><input type="checkbox"></td>
        <td><input type="checkbox"></td>
        <td><input type="checkbox"></td>
        <td><input type="checkbox"></td>
        <td><input type="checkbox"></td>
        <td><input type="checkbox"></td>
        <td><input type="checkbox"></td>
        <td><input type="checkbox"></td>
    </tr>
    <tr>
        <td>State(Screen)</td>
        <td><input type="checkbox"></td>
        <td><input type="checkbox"></td>
        <td><input type="checkbox"></td>
        <td><input type="checkbox"></td>
        <td><input type="checkbox"></td>
        <td><input type="checkbox"></td>
        <td><input type="checkbox"></td>
        <td><input type="checkbox"></td>
    </tr>
    <tr>
        <td>Sales Transaction(Screen)</td>
        <td><input type="checkbox"></td>
        <td><input type="checkbox"></td>
        <td><input type="checkbox"></td>
        <td><input type="checkbox"></td>
        <td><input type="checkbox"></td>
        <td><input type="checkbox"></td>
        <td><input type="checkbox"></td>
        <td><input type="checkbox"></td>
    </tr>
</table>
