@{
    ViewBag.Title = "SPARTANE - TOTALTECH - About";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>In the competitive and globalized world there are many companies that will help you meet your technology needs one way or the other,<br/> 
    the difference is in the degree of knowledge and expertise of your needs and the appropriate technological means for your field.
</p>
