@{
    ViewBag.Title = "SPARTANE - TOTALTECH - Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    Dr. Santos Sepúlveda No. 130<br />
    Col. Los Doctores C.P. 64710<br />
    Monterrey, Nuevo León, México.<br />
    <abbr title="Phone">P:</abbr>+52 (81) 8343.4388
    <abbr title="Phone">P:</abbr>+52 (81) 8343.4399
</address>

<address>
    <strong>Support:</strong>   <a href="soporte@totaltech.com.mx">soporte@totaltech.com.mx</a><br />
    <strong>Marketing:</strong> <a href="ventas@totaltech.com.mx">ventas@totaltech.com.mx</a>
</address>