@model string
    @*<div class="modal-dialog">
            <div class="modal-body">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title">
                            Advance Filters
                            <button data-dismiss="modal" class="close" type="button"><span aria-hidden="true">×</span><span class="sr-only">Close</span></button>
                        </h4>
                    </div>*@
                    <div class="scroll_content">
                        <div class="tab-pane active panel-body form-horizontal">
                            <div id="filters">
                                @Html.Raw(Model)
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" id="btnSavePopup" class="btn btn-success">@Resources.Resources.Save</button>
                        <button type="button" id="btnDeletePopup" class="btn btn-default">@Resources.Resources.Cancelar</button>
                    </div>
            @*</div>
        </div>
    </div>*@
<script>
    $(document).ready(function () {
        $('.datepicker').datepicker({
            todayBtn: "linked",
            keyboardNavigation: false,
            forceParse: false,
            calendarWeeks: true,
            autoclose: true,
            format: "dd-mm-yyyy"
        });
        $('.clock').clockpicker();
        $('.control-select2').select2();
        FillAdvanceFilterPopUp();
        $('#btnSavePopup').click(function () {
            var AdvanceFiltersAux = AdvanceFilters;
            AdvanceFilters = [];
            for (var i = 0; i < AdvanceFiltersAux.length; i++) {
                if (AdvanceFiltersAux[i].objectId != currentObjectIdPopUp) {
                    AdvanceFilters.push(AdvanceFiltersAux[i]);
                }
            }
            var checks = $('.filter-itempopup');
            for (var i = 0; i < checks.length; i++) {
                var name = $(checks[i]).data('physicalname');
                var attributeid = $(checks[i]).data('attributeid');
                var objectid = $(checks[i]).data('objectid');
                var pathfield = $(checks[i]).data('pathfield');
                var campoquery = $(checks[i]).data('campoquery');
                var values = $(checks[i]).find('.control-value');
                var from = '';
                if (values.length > 0) {
                    var dataFrom = $(values[0]).val();
                    if (dataFrom.constructor.name == "Array") {
                        for(var i=0; i< dataFrom.length; i++)
                        {
                            from += dataFrom[i] + ',';
                        }
                    }
                    else
                        from = dataFrom;
                    var to = '';
                    if (values.length > 1) {
                        to = $(values[1]).val();
                    }
                    AdvanceFilters.push({
                        checke: true,
                        attributeId: attributeid,
                        pysicalName: name,
                        from: from,
                        to: to,
                        objectId: objectid,
                        pathField: pathfield,
                        campoQuery: campoquery
                    });
                }
            }
            $('#btnDeletePopup').click();
        });

        function FillAdvanceFilterPopUp() {
            for (var i = 0; i < AdvanceFilters.length; i++) {
                //$($('.filter-itempopup[data-physicalname="' + AdvanceFilters[i].physicalName + '"]').find('.check-filterpopup')[0]).prop('checked', AdvanceFilters[i].checke);
               
                if ($('.filter-itempopup[data-physicalname="' + AdvanceFilters[i].physicalName + '"]').length > 0)
                {
                    if ($('.filter-itempopup[data-physicalname="' + AdvanceFilters[i].physicalName + '"]').find('.control-value').length > 0) {
                        if ($($('.filter-itempopup[data-physicalname="' + AdvanceFilters[i].physicalName + '"]').find('.control-value')[0]).attr('class').indexOf('control-select2') != -1) {
                            var selectedValues = AdvanceFilters[i].from.split(',');
                            $($('.filter-itempopup[data-physicalname="' + AdvanceFilters[i].physicalName + '"]').find('.control-value')[0]).select2('val', selectedValues);
                        }
                        else {
                            $($('.filter-itempopup[data-physicalname="' + AdvanceFilters[i].physicalName + '"]').find('.control-value')[0]).val(AdvanceFilters[i].from);
                            $($('.filter-itempopup[data-physicalname="' + AdvanceFilters[i].physicalName + '"]').find('.control-value')[1]).val(AdvanceFilters[i].to);
                        }
                    } else if ($('.filter-itempopup[data-physicalname="' + AdvanceFilters[i].physicalName + '"]').find('.datepicker').length > 0) {
						$($('.filter-itempopup[data-physicalname="' + AdvanceFilters[i].physicalName + '"]').find('.datepicker')[0]).val(AdvanceFilters[i].from);
						$($('.filter-itempopup[data-physicalname="' + AdvanceFilters[i].physicalName + '"]').find('.datepicker')[1]).val(AdvanceFilters[i].to);
					}
                }
                //$($('.filter-itempopup[data-physicalname="' + AdvanceFilters[i].physicalName + '"]').find('.control-value')[0]).val(AdvanceFilters[i].from);
                $($('.filter-itempopup[data-physicalname="' + AdvanceFilters[i].physicalName + '"]').find('.control-value')[1]).val(AdvanceFilters[i].to);
                $('.filter-itempopup[data-physicalname="' + AdvanceFilters[i].physicalName + '"]').attr('data-attributeid', AdvanceFilters[i].attributeId);
                $('.filter-itempopup[data-physicalname="' + AdvanceFilters[i].physicalName + '"]').attr('data-objectid', AdvanceFilters[i].objectId);
                $('.filter-itempopup[data-physicalname="' + AdvanceFilters[i].physicalName + '"]').attr('data-pathfield', AdvanceFilters[i].pathField);
                $('.filter-itempopup[data-physicalname="' + AdvanceFilters[i].physicalName + '"]').attr('data-campoquery', AdvanceFilters[i].campoQuery);
             
            }
        }

        $('#btnDeletePopup').click(function () {
            $('#AddEditFiltersModal-form').modal('hide');
        });

        $(".Detalles").off('click').on('click', function () {
            var objId = $(this).data('objectid');
            //$('#AddEditFiltersModal-form').modal('hide');
            GetFiltersPopup(objId);
        });
    });
</script>